.loading-page {
    @include flex-row();
    width: 100%;
    height: 100vh;   
    &__load-img {
        margin-right: 12px;
    }
    &__text {
        position: relative;
        font-weight: 300;
        font-size: 16px;
    }
}